.calc_grid {
  display: grid;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
    max-width: 370px;
    margin: 20px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
   padding-bottom: 15px;
   background-color: #121224;
  border-radius: 14px;
}

.calc_grid > button {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 2rem;
  border: 1px, solid #FFFFFF;
  outline: none;
  background-color: #3b476b;
  height: 100%;
  border-radius: 6px;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 70px;
  border: white 2px solid;
  border-radius: 8px;
}

.output .previous_operand {
  color: #393939;
  font-size: 1.2rem;
}

.output .current_operand{
  color: #141414;
  font-size: 2.5rem;
}

.span_two {
  grid-column: span 2;
  background-color: #392c4c !important;
  font-size: 2.5rem !important;
}

